{% extends 'other/_extend-page.html' %}

{% block head %}
    <meta charset="utf-8">
    <title>Best Analiz - Admin Sayfası</title>
{% endblock %}

{% block body %}
    <main id="tt-pageContent" class="tt-offset-small">
        <div class="tt-wrapper-section">
            <div class="container">
                <div class="tt-user-header background-header border-bottom mt-4 p-4">
                    <div class="tt-col-avatar">
                        <div class="tt-icon">
                            <img alt="pp" src="/media/{{ profile.user.photo }}"
                                 style="width: 50px; height: 50px;border-radius: 50%;">
                        </div>
                    </div>
                    <div class="tt-col-title">
                        <div class="tt-title">
                            <a href="#">{{ username }}</a>
                        </div>
                        <ul class="tt-list-badge">
                            <li style="height: 40px;width: 130px;"><a href="#">
                                <div class="{{ profile.user.user_rank.rank }}"></div>
                            </a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container Profile">
            <div class="tt-tab-wrapper">
                <div class="tt-wrapper-inner">
                    <ul class="nav nav-tabs pt-tabs-default" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link " href="{% url 'view_profile' username %}"><span><span class="iconify"
                                                                                                      data-icon="simple-line-icons:info"
                                                                                                      data-inline="false"></span> Bilgiler</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'view_profile_topics' username %}"><span><span
                                    class="iconify" data-icon="ant-design:folder-fill" data-inline="false"></span> Konular</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               href="{% url 'view_profile_replies' username %}"><span><span class="iconify"
                                                                                            data-icon="fa-solid:reply"
                                                                                            data-inline="false"></span> Yanıtlar</span></a>
                        </li>
                        {% if request.user.username == username %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'view_profile_settings' username %}"><span>
                                    <span class="iconify" data-icon="ic:baseline-settings" data-inline="false"></span>
                                    Ayarlar
                                </span>
                                </a>
                            </li>
                        {% endif %}
                        {% if request.user.username == username and request.user.user.user_rank.delete_user_perm %}
                            <li class="nav-item show">
                                <a class="nav-link active" href="{% url 'view_profile_settings' username %}"><span>
                                    <span class="iconify" data-icon="ic:baseline-settings" data-inline="false"></span>
                                    Admin
                                </span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane tt-indent-none show active" id="tt-tab-04" role="tabpanel">
                        <div class="tt-followers-list">
                            <div class="row" style="padding-left: 30px;padding-top: 50px;">
                                <div class="col-md-4 mb-5 form-default">
                                    <form action="{% url 'set_user_inactive' %}" method="post">
                                        {% csrf_token %}
                                        <span style="font-weight: bold;color: black;">Hesap Askıya Al</span>
                                        <hr style="height: 2px;margin-top: 0;">
                                        Kullanıcı Adı
                                        <input aria-label="username-in" name="username-inactive" type="text"
                                               class="form-control mb-3">
                                        <button type="submit" style="width: 25%;" class="btn btn-color01">Askıya Al
                                        </button>
                                    </form>
                                </div>
                                <div class="col-md-4 mb-5 form-default">
                                    <span style="font-weight: bold;color: black;">Hesap Etkinleştir</span>
                                    <hr style="height: 2px;margin-top: 0;">
                                    <form method="post" action="{% url 'set_user_active' %}">
                                        {% csrf_token %}
                                        Kullanıcı Adı
                                        <input aria-label="username-ac" name="username-active" type="text"
                                               class="form-control mb-3">
                                        <button class="btn btn-color01" style="width: 25%;" type="submit">Aktifleştir
                                        </button>
                                    </form>
                                </div>
                                <div class="col-md-4 mb-5 form-default">
                                    <span style="font-weight: bold;color: black;">Rütbe Değiştir</span>
                                    <hr style="height: 2px;margin-top: 0;">
                                    <form method="post" action="{% url 'change_role' %}">
                                        {% csrf_token %}
                                        Kullanıcı Adı
                                        <input aria-label="username-role" name="username-role" type="text"
                                               class="form-control mb-3">
                                        <select aria-label="role" class="form-control mb-3" name="role-select">
                                            {% for role in roles %}
                                                <option value="{{ role.rank }}">{{ role.get_rank_display }}</option>
                                            {% endfor %}
                                        </select>
                                        <button class="btn btn-color01" style="width: 25%;" type="submit">Değiştir
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}