{% extends 'other/_extend-page.html' %}

{% block head %}
    <title>Best Analiz - Yorum Düzenle</title>
{% endblock %}

{% block body %}
    <main id="tt-pageContent">
        <div class="container">
            <div class="tt-wrapper-inner background-header p-5">
                <div class="pt-editor form-default">
                    <form method="post" action="{% url 'edit_comment' id %}">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ commentForm.comment_text }}
                        </div>
                        <div class="pt-row" style="float: right;">
                            <div class="col-auto">
                                <button type="submit" class="btn btn-secondary btn-width-lg">Gönder</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock %}