{% extends 'other/_extend-page.html' %}
{% load static %}
{% load hitcount_tags %}

{% block head %}
    <title>BahisTimi - {{ category.name }} Kategorisi</title>
    <meta name="keywords" content="{{ category.name }}, bahis, bonus, forum">
    <meta name="description" content="{{ category.name }} kategorisine ait konuları incele.">
{% endblock %}

{% block body %}
    <main id="tt-pageContent">
        <div class="container">
            {% include 'includes/ads.html' %}
            <div class="row mt-3">
                <div class="col-lg-12 ">
                    <div class="navigate-bar background-header">
                        <a href="{% url 'homepage' %}"><span>Ana Sayfa</span></a>
                        <span class="iconify" data-icon="bytesize:chevron-right" data-inline="false"></span>
                        <a href="{% url 'sub_category' category.slug %}"><span
                                class="bold"> {{ category.name }} </span></a>
                    </div>
                </div>
            </div>
            <div class="tt-topic-list">
                <div class="tt-list-header background-header border-top border-bottom p-2"
                     style="">
                    <div class="bold tt-col-topic pt-0 pb-0 color-green"
                         style="width: 60%;padding-left: 15px;padding-right: 15px;">{{ category.name }}</div>
                    <div class="tt-col-value p-0" style="display: block;width: 20%;padding-left: 45px;">
                        <a href="{% url 'create_post' category.slug %}" class="bttn bttn-color1"
                           style="position: unset;float: right;margin-right: 7px;">
                            Konu Oluştur
                        </a>
                    </div>
                    <div class="tt-col-value p-0" style="width: 20%;padding-left: 30px;">
                        <div class="tt-search" style="display: unset;">
                            <button class="tt-search-toggle" data-toggle="modal" data-target="#modalAdvancedSearch">
                                <span class="iconify" data-icon="ant-design:search-outline" data-inline="false"></span>
                            </button>
                            <form class="search-wrapper" method="get" action="{% url 'search' category.slug %}">
                                <div class="search-form">
                                    <input type="text" name="search" class="tt-search__input" placeholder="Ara">
                                    <button class="tt-search__btn" type="submit">
                                        <span class="iconify" data-icon="ant-design:search-outline"
                                              data-inline="false"></span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                {% if fixed_posts %}
                    <div class="tt-list-header background-header border-bottom">
                        <div class="tt-col-topic p-2 bold color-blue" style="width: 60%;">Sabit Konular</div>
                    </div>
                {% endif %}
                {% for post in fixed_posts %}
                    <div class="tt-item tt-itemselect">
                        <div class="tt-col-avatar">
                            <img alt="pp" class="img-thumbnail" style="width: 100%;height: 100%"
                                 src="/media/{{ post.publisher.user.photo }}">
                        </div>
                        <div class="tt-col-description" style="width: 60%;">
                            <h6 class="tt-title">
                                <a href="{% url 'single_topic' post.slug %}">
                                    <span class="iconify" data-icon="ic:round-pin"
                                          data-inline="false"></span> {{ post.title }}
                                </a>
                            </h6>
                            {% if request.user.user.user_rank.pin_perm %}
                                <a href="{% url 'pin_post' category.slug post.slug %}">
                                <span style="float: right;width: 18px;height: 18px;" class="iconify"
                                      data-icon="ic:round-pin-off"
                                      data-inline="false"></span>
                                </a>
                            {% endif %}
                            {% if post.is_locked %}
                                <a>
                                <span style="float: right;width: 18px;height: 18px;" class="iconify"
                                      data-icon="dashicons:lock-alt" data-inline="false"></span>
                                </a>
                            {% endif %}
                            <div class="row align-items-center no-gutters">
                                <div class="col-12">
                                    <ul class="tt-list-badge">
                                        <li style="font-size: 14px;"><a
                                                href="{% url 'view_profile' post.publisher.username %}">{{ post.publisher.username }}</a>, {{ post.created_time }}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="tt-col-value hide-mobile" style="width: 20%;">
                            <span><b>Yanıt:</b></span> <span
                                style="float: right;">{{ post.get_comments.count }}</span><br>
                            <span><b>Gösterim:</b></span> <span
                                style="float: right;">{% get_hit_count for post %}</span>
                        </div>
                        <div class="tt-col-value hide-mobile pr-0" style="width: 20%;">
                            <img alt="pp" class="img-thumbnail"
                                 style="padding: 3px;margin-right: 5px;float: left;"
                                 width="40px" height="40px" src="/media/{{ post.publisher.user.photo }}">
                            <div>
                                <span class="tt-color-select">
                                    {% if post.get_last_comment.who_comment %}
                                        <a href="{% url 'view_profile' post.get_last_comment.who_comment %}">
                                        <b>{{ post.get_last_comment.who_comment }}</b>
                                    </a>
                                    {% else %}
                                        -
                                    {% endif %}
                                </span>
                                <br>
                                <span style="font-size: 12px;position: absolute;margin-top: -5px">{{ post.created_time }}</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="tt-list-header background-header border-bottom">
                    <div class="tt-col-topic p-2 bold color-blue" style="width: 60%;">Konular</div>
                </div>
                {% for post in posts %}
                    <div class="tt-item">
                        <div class="tt-col-avatar">
                            <img alt="pp" class="img-thumbnail" style="width: 100%;height: 100%;"
                                 src="/media/{{ post.publisher.user.photo }}">
                        </div>
                        <div class="tt-col-description" style="width: 60%;">
                            <h6 class="tt-title">
                                <a href="{% url 'single_topic' post.slug %}">
                                    {{ post.title }}
                                </a>
                            </h6>
                            {% if request.user.user.user_rank.pin_perm %}
                                <a href="{% url 'pin_post' category.slug post.slug %}">
                                    <span class="iconify" style="float: right;width: 18px;height: 18px;"
                                          data-icon="ic:round-pin"
                                          data-inline="false"></span></a>
                            {% endif %}
                            {% if post.is_locked %}
                                <a>
                                    <span style="float: right;width: 18px;height: 18px;" class="iconify"
                                          data-icon="dashicons:lock-alt" data-inline="false"></span></a>
                            {% endif %}
                            <div class="row align-items-center no-gutters">
                                <div class="col-12">
                                    <ul class="tt-list-badge">
                                        <li style="font-size: 14px;"><a
                                                href="{% url 'view_profile' post.publisher.username %}">{{ post.publisher.username }}</a>, {{ post.created_time }}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="tt-col-value hide-mobile" style="width: 20%;">
                            <span><b>Yanıt:</b></span> <span
                                style="float: right;">{{ post.get_comments.count }}</span><br>
                            <span><b>Gösterim:</b></span> <span
                                style="float: right;">{% get_hit_count for post %}</span>
                        </div>
                        <div class="tt-col-value hide-mobile pr-0" style="width: 20%;">
                            {% if post.get_last_comment.who_comment %}
                                <img alt="pp" class="img-thumbnail"
                                     style="padding: 3px;margin-right: 5px;float: left;"
                                     width="40px" height="40px"
                                     src="/media/{{ post.get_last_comment.who_comment.user.photo }}">
                                <div>
                                <span class="tt-color-select">
                                        <a href="{% url 'view_profile' post.get_last_comment.who_comment %}">
                                        <b>{{ post.get_last_comment.who_comment }}</b>
                                    </a>
                                </span>
                                    <br>
                                    <span style="font-size: 12px;position: absolute;margin-top: -5px">{{ post.created_time }}</span>
                                </div>
                            {% else %}
                                -
                            {% endif %}
                        </div>
                    </div>
                {% empty %}
                    <div class="text-center bold mt-2">Henüz Gönderi Yok</div>
                {% endfor %}
            </div>
            {% include 'includes/pagination.html' %}
        </div>
    </main>
{% endblock %}
