{% extends 'registration/base.html' %}

{% block head %}
    <title>Best Analiz - Şifre Sıfırlama</title>
{% endblock %}

{% block forms %}
    {% if validlink %}
        <h3>Şifre Değiştir</h3>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Değiştir</button>
        </form>
    {% else %}
        <p>
            Şifre sıfırlama linki geçersiz. Büyük ihtimalle daha önce kullanılmış. Lütfen tekrar şifre sıfırlama maili
            alın.
        </p>
    {% endif %}
{% endblock %}