{% extends 'registration/base.html' %}

{% block head %}
    <title>Forum - Responsive HTML5 Template</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Forum - Responsive HTML5 Template">
    <meta name="author" content="Forum">
{% endblock %}

{% block forms %}
    {% if validlink %}
        <h3>Şifre Değiştir</h3>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Değiştir</button>
        </form>
    {% else %}
        <p>
            Şifre sıfırlama linki geçersiz. Büyük ihtimalle daha önce kullanılmış. Lütfen tekrar şifre sıfırlama maili
            alın.
        </p>
    {% endif %}
{% endblock %}