{% extends 'registration/base.html' %}

{% block head %}
    <title>Forum - Responsive HTML5 Template</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Forum - Responsive HTML5 Template">
    <meta name="author" content="Forum">
{% endblock %}

{% block forms %}
    <p>
        Şifreni sıfırlaman için bir mail gönderdik. Eğer girdiğin email adresiyle eşleşen bir kullanıcı varsa email
        tarafına kısa bir süre içinde ulaşması gerekiyor.
    </p>
    <p>
        Eğer mail gelmediyse lütfen email adresini doğru yazdığından emin ol ve spam kutunu kontrol etmeyi unutma.
    </p>
{% endblock %}