{% extends 'registration/base.html' %}

{% block head %}
    <title>Forum - Responsive HTML5 Template</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Forum - Responsive HTML5 Template">
    <meta name="author" content="Forum">
{% endblock %}

{% block forms %}
    <h3>Şifre Sıfırla</h3><br>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-color02" style="float: right;" type="submit">Gönder</button>
    </form>
{% endblock %}