{% extends 'other/_extend-page.html' %}

{% block head %}
    <title>BahisTimi - İletişim</title>
    <meta name="keywords" content="iletişim, reklam, sponsorluk, mesaj">
    <meta name="description" content="Reklam & Sponsorluk için bizimle iletişime geçin.">
{% endblock %}

{% block body %}
    <div class="container">
        {% include 'includes/ads.html' %}
        <div class="tt-single-topic-list" style="margin-top: 50px;">
            <div class="tt-item" style="padding-bottom: 12px;">
                <div class="tt-single-topic form-default" style="border-top: 2px solid #3AB0AA;">
                    <span style="font-weight: bold;color: black;font-size: 18px;">İletişim</span>
                    <hr style="height: 2px;margin-top: 0;">
                    <div style="width: 50%;margin: auto">
                        <form action="{% url 'send_contact' %}" method="post">
                            {% csrf_token %}
                            <b>İsim</b> {{ form.name }}
                            <b>Email</b> {{ form.email }}
                            <b>Konu</b> {{ form.topic }}
                            <b>Mesaj</b> {{ form.text }}
                            <button type="submit" class="btn btn-color02" style="float: right;">Gönder</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
