{% if request.user.is_authenticated %}
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-md-12">
            <div id="advertising">
                <div class="header">
                    Sponsor Reklamları
                </div>
                <div class="body">
                    <iframe allowtransparency="true"
                            src="https://media.winaffiliates.com/ad.aspx?bid=3659&pid=966733" width="728"
                            height="90" marginwidth="0" marginheight="0" hspace="0" vspace="0"
                            frameborder="0" scrolling="no"></iframe>
                    <iframe scrolling='no' frameBorder='0'
                            style='padding:0px; border:0px;border-style:none;'
                            width='728' height='90'
                            src="https://refbanners.com/I?tag=d_370957m_3981c_&site=370957&ad=3981"></iframe>
                    <script async="async" id="1574079275982"
                            src="https://bwtsrv.com/tags/display.js?trk_id=14SA&media_id=3e05e43a-4cd7-4f45-b212-711f1b9d2867&width=728&height=90&b=1574079275982"></script>
                    <a target="_blank" href="https://www.betkanyon160.com/?btag=9871229_95925">
                        <img style="display: block;margin-left:auto;margin-right:auto;" alt="reklam" width="728px"
                             src="/media/ads-logo/orta.gif">
                    </a>
                </div>
            </div>
        </div>
    </div>
{% else %}
    <div id="advertising">
        <div class="header">
            Hoşgeldin!
        </div>
        <div class="body2">
                                <span class="iconify" data-icon="emojione:locked-with-key"
                                      data-inline="false"></span><br>
            Foruma hoşgeldiniz. Forumdan tümüyle yararlanabilmek için lütfen <a
                href="{% url 'login2' %}">giriş yapın.</a> Hesabınız yoksa <a
                href="{% url 'signup2' %}">buradan</a> üye olabilirsiniz.
        </div>
    </div>
{% endif %}